<a href="https://colab.research.google.com/github/drshahizan/Python_EDA/blob/main/assignment/ass2/hpdp/DEADPOOL%20/case_study2a/cs2a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 2
## CASE STUDY 2a

Exploratory Data Analysis (EDA) is a crucial phase in the data analysis process that involves systematically examining and visualizing datasets to uncover patterns, trends, and insights.

Case study 2a will be carried out using EDA tool D-Tale.
D-Tale, an interactive and web-based EDA tool in Python. D-Tale simplifies the EDA process by providing a user-friendly interface to dynamically visualize and analyze datasets. User can generate descriptive statistics, explore data distributions, and identify relationships between variables all through D-Tale.

## Downloading the Datasets and libraries

In this assignment the Malaysian dataset is provided by the Ministry of Health of Malaysia(MOH) and was downloaded from the offical github site of the MOH.

In [1]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/MoH-Malaysia/data-darah-public/main/donations_state.csv'
df = pd.read_csv(url)

## Data Preparation and Cleaning

In [2]:
df

,date,state,daily,blood_a,blood_b,blood_o,blood_ab,location_centre,location_mobile,type_wholeblood,type_apheresis_platelet,type_apheresis_plasma,type_other,social_civilian,social_student,social_policearmy,donations_new,donations_regular,donations_irregular
0,2006-01-01,Malaysia,525,152,139,194,40,308,217,525,0,0,0,496,18,11,243,277,5
1,2006-01-02,Malaysia,227,53,43,112,19,162,65,217,6,4,0,224,2,1,83,143,1
2,2006-01-03,Malaysia,112,29,21,56,6,112,0,89,10,13,0,105,2,5,8,101,3
3,2006-01-04,Malaysia,391,92,98,165,36,145,246,371,4,16,0,316,71,4,286,102,3
4,2006-01-05,Malaysia,582,149,198,193,42,371,211,548,17,17,0,555,19,8,328,250,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91331,2023-11-07,W.P. Kuala Lumpur,555,147,138,234,36,83,472,537,9,9,0,419,129,7,113,319,123
91332,2023-11-08,W.P. Kuala Lumpur,504,127,146,200,31,105,399,481,13,10,0,450,46,8,77,337,90
91333,2023-11-09,W.P. Kuala Lumpur,489,115,137,212,25,103,386,466,13,10,0,450,36,3,61,354,74
91334,2023-11-10,W.P. Kuala Lumpur,211,56,49,93,13,81,130,190,11,10,0,188,19,4,22,158,31
91335,2023-11-11,W.P. Kuala Lumpur,509,124,141,216,28,158,351,484,13,12,0,443,61,5,66,360,83

In [3]:
df.shape #(row,column)

(91336, 19)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91336 entries, 0 to 91335
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     91336 non-null  object
 1   state                    91336 non-null  object
 2   daily                    91336 non-null  int64
 3   blood_a                  91336 non-null  int64
 4   blood_b                  91336 non-null  int64
 5   blood_o                  91336 non-null  int64
 6   blood_ab                 91336 non-null  int64
 7   location_centre          91336 non-null  int64
 8   location_mobile          91336 non-null  int64
 9   type_wholeblood          91336 non-null  int64
 10  type_apheresis_platelet  91336 non-null  int64
 11  type_apheresis_plasma    91336 non-null  int64
 12  type_other               91336 non-null  int64
 13  social_civilian          91336 non-null  int64
 14  social_student           91336 non-null  int64
 15  social_policearmy        91336 non-null  int64
 16  donations_new            91336 non-null  int64
 17  donations_regular        91336 non-null  int64
 18  donations_irregular      91336 non-null  int64
dtypes: int64(17), object(2)
memory usage: 13.2+ MB

At the column, 'date' has the datatype object. By changing the datatype from object to datetime, the value from 'date' column will be in standard datetime format.

In [5]:
df['date']= pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91336 entries, 0 to 91335
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     91336 non-null  datetime64[ns]
 1   state                    91336 non-null  object
 2   daily                    91336 non-null  int64
 3   blood_a                  91336 non-null  int64
 4   blood_b                  91336 non-null  int64
 5   blood_o                  91336 non-null  int64
 6   blood_ab                 91336 non-null  int64
 7   location_centre          91336 non-null  int64
 8   location_mobile          91336 non-null  int64
 9   type_wholeblood          91336 non-null  int64
 10  type_apheresis_platelet  91336 non-null  int64
 11  type_apheresis_plasma    91336 non-null  int64
 12  type_other               91336 non-null  int64
 13  social_civilian          91336 non-null  int64
 14  social_student           91336 non-null  int64
 15  social_policearmy        91336 non-null  int64
 16  donations_new            91336 non-null  int64
 17  donations_regular        91336 non-null  int64
 18  donations_irregular      91336 non-null  int64
dtypes: datetime64[ns](1), int64(17), object(1)
memory usage: 13.2+ MB

Check if there exist any 'null' value in the dataframe

In [6]:
df.isnull().sum()

date                       0
state                      0
daily                      0
blood_a                    0
blood_b                    0
blood_o                    0
blood_ab                   0
location_centre            0
location_mobile            0
type_wholeblood            0
type_apheresis_platelet    0
type_apheresis_plasma      0
type_other                 0
social_civilian            0
social_student             0
social_policearmy          0
donations_new              0
donations_regular          0
donations_irregular        0
dtype: int64

use nunique() to find the unique values exist in the columns

In [170]:
df.nunique()

date                       6524
state                        14
daily                      2488
blood_a                     814
blood_b                     855
blood_o                    1250
blood_ab                    234
location_centre            1663
location_mobile            1642
type_wholeblood            2463
type_apheresis_platelet      46
type_apheresis_plasma        58
type_other                   68
social_civilian            2249
social_student              595
social_policearmy           426
donations_new              1036
donations_regular          1593
donations_irregular         585
dtype: int64

From the output, the 'state' column shows that there are 14 unique value. From the dataset imported, 'Malaysia' is included as one of the states.

In [171]:
df['state'].unique()

array(['Malaysia', 'Johor', 'Kedah', 'Kelantan', 'Melaka',
       'Negeri Sembilan', 'Pahang', 'Perak', 'Pulau Pinang', 'Sabah',
       'Sarawak', 'Selangor', 'Terengganu', 'W.P. Kuala Lumpur'],
      dtype=object)

In order to get more accurate result, rows with 'Malaysia' for states will be removed as Malaysia is not State.

In [173]:
df.drop(df[(df['state'] == 'Malaysia')].index, inplace=True)
df

,date,state,daily,blood_a,blood_b,blood_o,blood_ab,location_centre,location_mobile,type_wholeblood,type_apheresis_platelet,type_apheresis_plasma,type_other,social_civilian,social_student,social_policearmy,donations_new,donations_regular,donations_irregular
6524,2006-01-01,Johor,87,19,20,45,3,87,0,87,0,0,0,86,1,0,36,49,2
6525,2006-01-02,Johor,15,4,3,6,2,15,0,15,0,0,0,15,0,0,4,11,0
6526,2006-01-03,Johor,8,2,2,4,0,8,0,8,0,0,0,8,0,0,2,5,1
6527,2006-01-04,Johor,33,7,11,12,3,33,0,33,0,0,0,32,0,1,25,8,0
6528,2006-01-05,Johor,20,3,8,8,1,20,0,20,0,0,0,17,3,0,16,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91331,2023-11-07,W.P. Kuala Lumpur,555,147,138,234,36,83,472,537,9,9,0,419,129,7,113,319,123
91332,2023-11-08,W.P. Kuala Lumpur,504,127,146,200,31,105,399,481,13,10,0,450,46,8,77,337,90
91333,2023-11-09,W.P. Kuala Lumpur,489,115,137,212,25,103,386,466,13,10,0,450,36,3,61,354,74
91334,2023-11-10,W.P. Kuala Lumpur,211,56,49,93,13,81,130,190,11,10,0,188,19,4,22,158,31
91335,2023-11-11,W.P. Kuala Lumpur,509,124,141,216,28,158,351,484,13,12,0,443,61,5,66,360,83

## Exploratory Analysis and Visualization

This study case will be using D-Tale for EDA tool.

To integrate D-Tale into a Python environment, the first thing is to install the D-Tale library. It can be installed using pip

In [174]:
pip install dtale

Requirement already satisfied: dtale in /usr/local/lib/python3.10/dist-packages (3.7.0)
Requirement already satisfied: dash-colorscales in /usr/local/lib/python3.10/dist-packages (from dtale) (0.0.4)
Requirement already satisfied: dash-daq in /usr/local/lib/python3.10/dist-packages (from dtale) (0.5.0)
Requirement already satisfied: Flask-Compress in /usr/local/lib/python3.10/dist-packages (from dtale) (1.14)
Requirement already satisfied: future>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from dtale) (0.18.3)
Requirement already satisfied: kaleido in /usr/local/lib/python3.10/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: missingno in /usr/local/lib/python3.10/dist-packages (from dtale) (0.5.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from dtale) (1.5.3)
Requirement already satisfied: squarify in /usr/local/lib/python3.10/dist-packages (from dtale) (0.4.3)
Requirement already satisfied: strsimpy in /usr/local/lib/python3.10/dist-packages (from dtale) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from dtale) (1.16.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.10/dist-packages (from dtale) (2.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from dtale) (4.11.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from dtale) (2023.7.22)
Requirement already satisfied: flask-ngrok in /usr/local/lib/python3.10/dist-packages (from dtale) (0.0.25)
Requirement already satisfied: lz4 in /usr/local/lib/python3.10/dist-packages (from dtale) (4.3.2)
Requirement already satisfied: cycler in /usr/local/lib/python3.10/dist-packages (from dtale) (0.12.1)
Requirement already satisfied: dash-bootstrap-components<=1.3.1 in /usr/local/lib/python3.10/dist-packages (from dtale) (1.3.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from dtale) (3.2.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from dtale) (1.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from dtale) (0.12.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from dtale) (0.13.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from dtale) (1.23.5)
Requirement already satisfied: openpyxl!=3.2.0b1 in /usr/local/lib/python3.10/dist-packages (from dtale) (3.1.2)
Requirement already satisfied: xarray in /usr/local/lib/python3.10/dist-packages (from dtale) (2023.7.0)
Requirement already satisfied: dash in /usr/local/lib/python3.10/dist-packages (from dtale) (2.14.1)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from dtale) (1.1.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from dtale) (5.15.0)
Requirement already satisfied: Flask<2.3 in /usr/local/lib/python3.10/dist-packages (from dtale) (2.2.5)
Requirement already satisfied: itsdangerous in /usr/local/lib/python3.10/dist-packages (from dtale) (2.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from dtale) (2.28.2)
Requirement already satisfied: werkzeug<2.3 in /usr/local/lib/python3.10/dist-packages (from dtale) (2.2.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from dtale) (3.5.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from dtale) (1.9.3)
Requirement already satisfied: dash-html-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (4.8.0)
Requirement already satisfied: retrying in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (1.3.4)
Requirement already satisfied: ansi2html in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (1.8.0)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (1.5.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (67.7.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.10/dist-packages (from dash->dtale) (6.8.0)
Requirement already satisfied: Jinja2>=3.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3->dtale) (3.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3->dtale) (8.1.7)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->dtale) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly->dtale) (23.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug<2.3->dtale) (2.1.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->dtale) (2.5)
Requirement already satisfied: brotli in /usr/local/lib/python3.10/dist-packages (from Flask-Compress->dtale) (1.1.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->dtale) (4.44.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->dtale) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->dtale) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->dtale) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->dtale) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->dtale) (2023.3.post1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->dtale) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->dtale) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->dtale) (1.26.18)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->dtale) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->dtale) (3.2.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels->dtale) (0.5.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata->dash->dtale) (3.17.0)

Import the nessasary libraries need from D-Tale and launch D-Tale to create an interactive web-based interface. Use the dtale.show(). The link generated will open a new browser tab with the D-Tale interface.

new browser tab interface for D-Tale will show the data from the connected dataframe
![Local Image](./image.jpg)

In [175]:
import dtale

import dtale.app as dtale_app
dtale_app.USE_COLAB = True
dtale.show(df)

https://xpu67s313up-496ff2e9c6d22116-40000-colab.googleusercontent.com/dtale/main/1

From the 'Visualize' dropdown, select 'Describe'

![Local Image](./image.jpg)
<br>

Descriptive Statistics:

The interface generates descriptive statistics, including mean, median, mode, variance, and standard error, offering a quick summary of your dataset.It will show the detailed description on the column that is selected on the right side of page.

![Local Image](./image.jpg)
<br>

In D-tale, the correlation graph can be exported in coding.

![Local Image](./image.jpg)
<br>[link text](https://)

In [161]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

# main statistics
stats = df['daily'].describe().to_frame().T
# sum
stats['sum'] = df['daily'].sum()
# median
stats['median'] = df['daily'].median()
# mode
mode = df['daily'].mode().values
stats['mode'] = np.nan if len(mode) > 1 else mode[0]
# var
stats['var'] = df['daily'].var()
# sem
stats['sem'] = df['daily'].sem()
uniq_vals = df['daily'].value_counts().sort_values(ascending=False)
uniq_vals.index.name = 'value'
uniq_vals.name = 'count'
uniq_vals = uniq_vals.reset_index()
uniq_vals.loc[:, 'type'] = 'int64'
sequential_diffs = df['daily'].diff()
min_diff = sequential_diffs.min()
max_diff = sequential_diffs.max()
avg_diff = sequential_diffs.mean()
diff_vals = sequential_diffs.value_counts().sort_values(ascending=False)

The description for 'daily'
![Local Image](./image.jpg)
<br>

In [133]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

# main statistics
stats = df['donations_new'].describe().to_frame().T
# sum
stats['sum'] = df['donations_new'].sum()
# median
stats['median'] = df['donations_new'].median()
# mode
mode = df['donations_new'].mode().values
stats['mode'] = np.nan if len(mode) > 1 else mode[0]
# var
stats['var'] = df['donations_new'].var()
# sem
stats['sem'] = df['donations_new'].sem()
uniq_vals = df['donations_new'].value_counts().sort_values(ascending=False)
uniq_vals.index.name = 'value'
uniq_vals.name = 'count'
uniq_vals = uniq_vals.reset_index()
uniq_vals.loc[:, 'type'] = 'int64'
sequential_diffs = df['donations_new'].diff()
min_diff = sequential_diffs.min()
max_diff = sequential_diffs.max()
avg_diff = sequential_diffs.mean()
diff_vals = sequential_diffs.value_counts().sort_values(ascending=False)

The output for description on 'donations_new'

![Local Image](./image.jpg)
<br>

In [132]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

# main statistics
stats = df['donations_regular'].describe().to_frame().T
# sum
stats['sum'] = df['donations_regular'].sum()
# median
stats['median'] = df['donations_regular'].median()
# mode
mode = df['donations_regular'].mode().values
stats['mode'] = np.nan if len(mode) > 1 else mode[0]
# var
stats['var'] = df['donations_regular'].var()
# sem
stats['sem'] = df['donations_regular'].sem()
uniq_vals = df['donations_regular'].value_counts().sort_values(ascending=False)
uniq_vals.index.name = 'value'
uniq_vals.name = 'count'
uniq_vals = uniq_vals.reset_index()
uniq_vals.loc[:, 'type'] = 'int64'
sequential_diffs = df['donations_regular'].diff()
min_diff = sequential_diffs.min()
max_diff = sequential_diffs.max()
avg_diff = sequential_diffs.mean()
diff_vals = sequential_diffs.value_counts().sort_values(ascending=False)

The output for description on 'donations_regular'
![Local Image](./image.jpg)
<br>

In [135]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

# main statistics
stats = df['donations_irregular'].describe().to_frame().T
# sum
stats['sum'] = df['donations_irregular'].sum()
# median
stats['median'] = df['donations_irregular'].median()
# mode
mode = df['donations_irregular'].mode().values
stats['mode'] = np.nan if len(mode) > 1 else mode[0]
# var
stats['var'] = df['donations_irregular'].var()
# sem
stats['sem'] = df['donations_irregular'].sem()
uniq_vals = df['donations_irregular'].value_counts().sort_values(ascending=False)
uniq_vals.index.name = 'value'
uniq_vals.name = 'count'
uniq_vals = uniq_vals.reset_index()
uniq_vals.loc[:, 'type'] = 'int64'
sequential_diffs = df['donations_irregular'].diff()
min_diff = sequential_diffs.min()
max_diff = sequential_diffs.max()
avg_diff = sequential_diffs.mean()
diff_vals = sequential_diffs.value_counts().sort_values(ascending=False)

The output for description on 'donations_irregular'
![Local Image](./image.jpg)
<br>

On the upper tab select 'Correlation' under 'Visualize'

![Local Image](./image.jpg)
<br>

 Displays the Pearson Correlation Matrix for numerical variables.

![Local Image](./image.jpg)
<br>

In D-tale, the correlation graph can be exported in coding.

![Local Image](./image.jpg)
<br>

In [ ]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

corr_ts = df.groupby('date')['daily', 'blood_a'].corr(method='pearson')
corr_ts.index.names = ['date', 'column']
corr_ts = corr_ts[corr_ts.column == 'daily'][['date', 'blood_a']]

corr_ts.columns = ['date', 'corr']

![Local Image](./image.jpg)
<br>

To create different kinds of charts and visualizations. On the upper tab select 'Chart' from the dropdown 'Visualize'

![Local Image](./image.jpg)
<br>

New tab on charts will be displayed

![Local Image](./image.jpg)
<br>

In D-tale, the correlation graph can be exported in coding.

![Local Image](./image.jpg)
<br>

pip install plotly

In [178]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly) (23.2)

In [157]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	pd.Series(df.set_index('date').index.to_period('Y').to_timestamp(how='end').values, index=df.index, name='date||Y'),
	df['state'],
	df['donations_regular'],
], axis=1)
chart_data = chart_data.sort_values(['date||Y', 'state'])
chart_data_sum = chart_data.groupby(['date||Y','state'], dropna=True)[['donations_regular']].sum()
chart_data_sum.columns = ['donations_regular||sum']
chart_data = chart_data_sum.reset_index()
chart_data = data.sort_values(['date||Y', 'state'])
chart_data = chart_data.set_index(['date||Y', 'state'])
chart_data = unstack(0)['donations_regular||sum']text = [
	[
		'{}: {}<br>{}: {}<br>{}: {}'.format(
			x, str(chart_data.columns[x_idx]), y, str(chart_data.index.values[y_idx]), z, str(z2)
		)
		for x_idx, z2 in enumerate(z1)
	]
	for y_idx, z1 in enumerate(chart_data.values)
]

import plotly.graph_objs as go

hm_kwargs = {   'colorbar': {'title': 'donations_regular (Sum)'},
    'colorscale': [   [0.0, '#fff5f0'],
                      [0.2, '#fdcab4'],
                      [0.4, '#fc8a6a'],
                      [0.6, '#f24632'],
                      [0.8, '#bc141a'],
                      [1.0, '#67000d']],
    'hoverinfo': 'text',
    'showscale': True,
    'text': [   [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 4064',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 3132',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 3838',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 8417',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 14060',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 16483',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 17941',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 18274',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 18359',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 18916',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 15811',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 16947',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 18118',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 20433',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 21807',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 24365',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 24200',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Johor<br>donations_regular||sum: 21978'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 29532',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 13241',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 18035',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 23907',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 25697',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 28426',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 29338',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 30321',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 31545',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 33770',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 34652',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 36514',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 36836',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 25629',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 11030',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 11450',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 12049',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Kedah<br>donations_regular||sum: 10923'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 1077',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 2697',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 3394',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4155',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4491',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4241',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 3710',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4085',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4197',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 5220',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 6077',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 23',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4245',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 4800',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 6298',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 7218',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 7995',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Kelantan<br>donations_regular||sum: 7643'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 1199',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 7922',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 12506',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 12826',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 14045',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 13690',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 13983',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 14364',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 14012',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 13970',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 15330',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 16034',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 16551',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 17239',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 15914',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 17700',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 17257',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Melaka<br>donations_regular||sum: 14977'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 186',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 4687',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 6599',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 6701',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 6975',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 7125',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 7007',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 7545',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 7694',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 8189',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9348',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9227',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9528',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 10352',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9623',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9608',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 9257',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: Negeri '
                    'Sembilan<br>donations_regular||sum: 8555'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 526',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 1058',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 1205',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 1381',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 1328',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 1922',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 4410',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 5120',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 4949',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 5053',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 5441',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 4589',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 3532',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 5657',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 12235',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 15349',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 14413',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Pahang<br>donations_regular||sum: 12170'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 13',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 13',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 4972',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 11571',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 13317',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 16197',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 16974',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 17994',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 19436',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 20472',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 22316',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 22982',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 24312',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 23926',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 24922',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 28814',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 27658',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Perak<br>donations_regular||sum: 25840'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 0',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 6141',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 20866',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 25302',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 25532',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 27137',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 27218',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 23875',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 23670',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 23535',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: Pulau '
                    'Pinang<br>donations_regular||sum: 22519'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 520',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 2952',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 7619',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 9482',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 9359',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 10079',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 10644',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 11255',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 11456',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 12273',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 13816',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 17273',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 18548',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 19077',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 19221',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 19774',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 20222',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Sabah<br>donations_regular||sum: 20674'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 57',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 97',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 3907',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 9642',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 10816',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 11319',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 11701',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 13006',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 16541',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 23008',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 24522',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 25378',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 25410',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 25793',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 23684',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 26045',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 28354',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Sarawak<br>donations_regular||sum: 25978'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 2392',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 6487',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 7787',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 9909',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 10771',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 11660',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 11713',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 11001',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 11551',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 12375',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 12006',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 12618',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 13034',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 14336',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 16847',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 16645',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 15871',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Selangor<br>donations_regular||sum: 14166'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7018',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 17642',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 8622',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 6901',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7148',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7049',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7235',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 6644',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 6357',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7125',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7434',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 7690',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 8757',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 8442',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 8121',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 9926',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 9991',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: '
                    'Terengganu<br>donations_regular||sum: 9204'],
                [   'date||Y: 2006-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 33113',
                    'date||Y: 2007-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 62790',
                    'date||Y: 2008-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 74709',
                    'date||Y: 2009-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 81002',
                    'date||Y: 2010-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 79165',
                    'date||Y: 2011-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 84116',
                    'date||Y: 2012-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 87726',
                    'date||Y: 2013-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 90588',
                    'date||Y: 2014-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 94134',
                    'date||Y: 2015-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 100784',
                    'date||Y: 2016-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 98169',
                    'date||Y: 2017-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 98440',
                    'date||Y: 2018-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 104888',
                    'date||Y: 2019-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 108397',
                    'date||Y: 2020-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 100682',
                    'date||Y: 2021-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 110958',
                    'date||Y: 2022-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 119279',
                    'date||Y: 2023-12-31 23:59:59.999999<br>state: W.P. Kuala '
                    'Lumpur<br>donations_regular||sum: 108863']],
    'x': [   '2006-12-31 23:59:59.999999',
             '2007-12-31 23:59:59.999999',
             '2008-12-31 23:59:59.999999',
             '2009-12-31 23:59:59.999999',
             '2010-12-31 23:59:59.999999',
             '2011-12-31 23:59:59.999999',
             '2012-12-31 23:59:59.999999',
             '2013-12-31 23:59:59.999999',
             '2014-12-31 23:59:59.999999',
             '2015-12-31 23:59:59.999999',
             '2016-12-31 23:59:59.999999',
             '2017-12-31 23:59:59.999999',
             '2018-12-31 23:59:59.999999',
             '2019-12-31 23:59:59.999999',
             '2020-12-31 23:59:59.999999',
             '2021-12-31 23:59:59.999999',
             '2022-12-31 23:59:59.999999',
             '2023-12-31 23:59:59.999999'],
    'y': [   'Johor',
             'Kedah',
             'Kelantan',
             'Melaka',
             'Negeri Sembilan',
             'Pahang',
             'Perak',
             'Pulau Pinang',
             'Sabah',
             'Sarawak',
             'Selangor',
             'Terengganu',
             'W.P. Kuala Lumpur'],
    'z': array([[  4064,   3132,   3838,   8417,  14060,  16483,  17941,  18274,
         18359,  18916,  15811,  16947,  18118,  20433,  21807,  24365,
         24200,  21978],
       [ 29532,  13241,  18035,  23907,  25697,  28426,  29338,  30321,
         31545,  33770,  34652,  36514,  36836,  25629,  11030,  11450,
         12049,  10923],
       [  1077,   2697,   3394,   4155,   4491,   4241,   3710,   4085,
          4197,   5220,   6077,     23,   4245,   4800,   6298,   7218,
          7995,   7643],
       [  1199,   7922,  12506,  12826,  14045,  13690,  13983,  14364,
         14012,  13970,  15330,  16034,  16551,  17239,  15914,  17700,
         17257,  14977],
       [   186,   4687,   6599,   6701,   6975,   7125,   7007,   7545,
          7694,   8189,   9348,   9227,   9528,  10352,   9623,   9608,
          9257,   8555],
       [   526,   1058,   1205,   1381,   1328,   1922,   4410,   5120,
          4949,   5053,   5441,   4589,   3532,   5657,  12235,  15349,
         14413,  12170],
       [    13,     13,   4972,  11571,  13317,  16197,  16974,  17994,
         19436,  20472,  22316,  22982,  24312,  23926,  24922,  28814,
         27658,  25840],
       [     0,      0,      0,      0,      0,      0,      0,      0,
          6141,  20866,  25302,  25532,  27137,  27218,  23875,  23670,
         23535,  22519],
       [   520,   2952,   7619,   9482,   9359,  10079,  10644,  11255,
         11456,  12273,  13816,  17273,  18548,  19077,  19221,  19774,
         20222,  20674],
       [    57,     97,   3907,   9642,  10816,  11319,  11701,  13006,
         16541,  23008,  24522,  25378,  25410,  25793,  23684,  26045,
         28354,  25978],
       [  2392,   6487,   7787,   9909,  10771,  11660,  11713,  11001,
         11551,  12375,  12006,  12618,  13034,  14336,  16847,  16645,
         15871,  14166],
       [  7018,  17642,   8622,   6901,   7148,   7049,   7235,   6644,
          6357,   7125,   7434,   7690,   8757,   8442,   8121,   9926,
          9991,   9204],
       [ 33113,  62790,  74709,  81002,  79165,  84116,  87726,  90588,
         94134, 100784,  98169,  98440, 104888, 108397, 100682, 110958,
        119279, 108863]])}
chart = go.Heatmap(
	x=chart_data.columns, y=chart_data.index.values, z=chart_data.values, text=text, **hm_kwargs
)
figure = go.Figure(data=[chart], layout=go.Layout({
    'legend': {'orientation': 'h', 'y': -0.3},
    'title': {'text': 'state by date (Yearly) weighted by Sum of donations_regular'},
    'xaxis': {'domain': [0, 1],
              'showticklabels': True,
              'tickangle': -20,
              'tickmode': 'auto',
              'title': {'text': 'date (Yearly)'},
              'type': 'category',
              'visible': True},
    'yaxis': {'domain': [0, 1],
              'showticklabels': True,
              'tickangle': -20,
              'tickmode': 'auto',
              'title': {'text': 'state'},
              'type': 'category',
              'visible': True}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:
#
# from plotly.offline import iplot, init_notebook_mode
#
# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

SyntaxError: ignored

In [185]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	df['state'],
	df['type_wholeblood'],
], axis=1)
chart_data = chart_data.sort_values(['state'])
chart_data = chart_data.rename(columns={'state': 'x'})
chart_data_sum = chart_data.groupby(['x'], dropna=True)[['type_wholeblood']].sum()
chart_data_sum.columns = ['type_wholeblood||sum']
chart_data = chart_data_sum.reset_index()
chart_data = chart_data.dropna()

import plotly.graph_objs as go
import plotly.express as px
import squarify

def _build_treemap_data(values, labels, name=None):
	x, y, width, height = (0., 0., 100., 100.)
	normed = squarify.normalize_sizes(values, width, height)
	rects = squarify.squarify(normed, x, y, width, height)
	colors = px.colors.qualitative.Dark24 + px.colors.qualitative.Light24
	shapes, annotations = ([], [])
	for i, (r, val, label) in enumerate(zip(rects, values, labels)):
		shapes.append(dict(
			type='rect', x0=r['x'], y0=r['y'], x1=r['x'] + r['dx'],
			y1=r['y'] + r['dy'], line=dict(width=1),
			fillcolor=colors[i % len(colors)]
		))
		annotations.append(dict(
			x=r['x'] + (r['dx'] / 2),
			y=r['y'] + (r['dy'] / 2),
			text='{}-{}'.format(label, val),
			showarrow=False,
			font=dict(color='#FFFFFF')
		))
	trace = go.Scatter(
		x=[r['x'] + (r['dx'] / 2) for r in rects],
		y=[r['y'] + (r['dy'] / 2) for r in rects],
		text=[str(v) for v in values],
		mode='text'
	)
	layout = dict(
		xaxis=dict(showgrid=False, zeroline=False, tickfont=dict(color='#FFFFFF')),
		yaxis=dict(showgrid=False, zeroline=False, tickfont=dict(color='#FFFFFF')),
		shapes=shapes,
		annotations=annotations,
		hovermode='closest'
	)
	if name is not None:
		layout['title'] = name
	return dict(data=[trace], layout=layout)
charts = [
	_build_treemap_data(g['type_wholeblood||sum'].values, g['state'].values, name)
	for name, g in chart_data.groupby([''], dropna=True)
]
chart = go.Figure(charts[0])

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:
#
# from plotly.offline import iplot, init_notebook_mode
#
# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

KeyError: ignored

## Inferences and Conclusion

Pro :

interactive EDA tools
- Dtale comes with a interactive web-based interface that is equipped with useful features that can be used during EDA. It is user friendly and it allows user to explore without extensive coding

Integration with Python:

- D-Tale seamlessly integrates with Python, it supports python libraries like panda and numpy. This allow users to work directly with Pandas DataFramesand data manipulation workflows as it ensures compatibility between the two environments at the same time.

Efficient Data Visualization:

- D-Tale offers a wide range of charts, graphs, and plots for efficient data visualization. It also allows users to dynamically visualize and analyze data The visualization generated can provide users with a comprehensive overview of their data and gaining insights on data distributions, patterns, and outliers directly.

Cons :

Web-Based:

- Dtale is a tool has a web-based interface. It might not be convenient for some user as it works in 2 environment and not just only in a python environment.

Unfamiliar feature:
- Dtale is comes with a variety of functions and tools. New user who a unfamiliar with the environment will have to spend some time to understand the different features within Dtale.

Slowdowns:
- When running large datasets with other resources at the same time, Dtale will experience some slowdown or peroformance issue.

Conclusion :

Dtale emerges as one of the functionalble EDA tools to be used as contains numerous interfaces and feature for users to explore.Especially for users that are comfortable with Python and Pandas, Dtale interactive web-based interface transforms the Google Colab environment into a site for
interactive data analysis and dynamic visualization experience.Users should be mindful of when dealing with large datasets using Dtale, there might occur performance issue compared to more advanced EDA tools. Overall, the integration of D-Tale in Google Colab will provide interactive, and collaborative platform for users during data exploration and analysis.

## References

[dtale](https://github.com/man-group/dtale)

[Exploring Pandas DataFrame With D-Tale](https://www.analyticsvidhya.com/blog/2021/06/exploring-pandas-dataframe-with-d-tale/)

[Exploratory Data Analysis Using D-Tale Library](https://medium.com/@amitjain2110/exploratory-data-analysis-using-d-tale-library-261d513901fc)